@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Momo+Signature&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #FFC60B;
    --green: #85AE85;
    --light-blue: #dff1ff;
    --less-light-blue: #9fd4fd;
    --dark-cyan: #199bff;
    --dark-blue: #230AFF;
    --purple: #7766FF;
    --lilac: #AAA0FF;
    --dark-orange: #df880a;
    --chocolate: #c16a08;
    --khaki: #ffde73;
    --delete-red: rgba(249, 197, 197, 0.3);
    --delete-hover-red: rgba(245, 150, 150, 0.7);
}

/*Type Styling*/
body{
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: var(--light-blue);
    gap: 30px;
    font-family: "Noto Sans Mono", "Roboto", sans-serif;
    min-width: 100%;
}

button:hover{
    cursor: pointer;
}