/*ID Styling*/
#sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 12px;
    width: 100%;
    background-color: white;
    max-width: 40%;
    top: 0;
    right: -40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#title{
    color: var(--dark-cyan);
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 30px;
}

#priority-title{
    font-size: 2em;
}

#priority-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#tasks-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    gap: 15px;
    padding: 10px;
    width: 100%;
}

#modal, #project-modal{
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

#popup-form, #project-popup-form{
    font-size: 1.2em;
}

#popup-form input,#popup-form select, #project-popup-form input{
    height: 40px;
    font-size: 1rem;
    padding-left: 7px;
}

#completed-cont{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#taskProjectCont{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#sidebar.active {
    right: 0;
}
/*Class Styling*/
.task-buttons, .projects-buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
}

.priority-buttons{
    display: flex;
    flex-direction: row;
    gap: 7px;
    flex-wrap: wrap;
}

.project-buttons{
    display: flex;
    align-items: center;
}

.trash-cont{
    border: 2px solid red;
    border-left: none;
    border-radius: 0px 11px 11px 0px;
    background-color: var(--delete-red);
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-cont:hover{
    background-color: rgba(245, 150, 150, 0.7);
}

.task-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.popup-container, #popup-form, #project-popup-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-container{
    background-color: var(--light-blue);
    padding: 35px;
    border-radius: 13px;
    position: relative;
}

/*Added Features Styles*/
.low{
    border-left: 4px solid green;
}

.medium{
    border-left: 4px solid goldenrod;
}

.high{
    border-left: 4px solid red;
}

@media screen and (max-width: 480px) {
    #tasks-container{
        grid-template-columns: 1fr;
    }

}

nav {
    padding: 1rem;
    display: flex;
    position: absolute;
    right: -5px;
    top: 0;
}

nav:hover{
    cursor: pointer;
}

