@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Momo+Signature&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #FFC60B;
    --green: #85AE85;
    --light-blue: #dff1ff;
    --less-light-blue: #9fd4fd;
    --dark-cyan: #199bff;
    --dark-blue: #230AFF;
    --purple: #7766FF;
    --lilac: #AAA0FF;
    --dark-orange: #df880a;
    --chocolate: #c16a08;
    --khaki: #ffde73;
    --delete-red: rgba(245, 150, 150, 0.3);
}

/*Type Styling*/
body{
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: var(--light-blue);
    gap: 30px;
}

/*ID Styling*/
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 20vw;
}

#title{
    color: var(--dark-cyan);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
}

#priority-title{
    font-size: 2em;
}

#priority-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#default-project-btn{
    width: 80%;
    border-radius: 11px 0px 0px 11px;
}

#all-priority-btn{
    background-color: var(--less-light-blue);
    border: 3px solid var(--dark-cyan);
}
/*Class Styling*/
.task-buttons, .projects-buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.priority-buttons{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.priority-buttons button{
    background-color: white;
    border: 2.5px solid var(--less-light-blue);
    padding: 15px 10px;
    border-radius: 11px;
    font-size: 1.25em;
    width: 100px;
}

.task-buttons button, .projects-buttons button{
    background-color: white;
    border: 2.5px solid var(--less-light-blue);
    padding: 10px 5px 10px 20px;
    border-radius: 11px;
    text-align: left;
    font-size: 1.25em;
}

.task-buttons button:hover, .projects-buttons button:hover, .priority-buttons button:hover{
    transform: scale(1.05);
    background-color: var(--light-blue);
}

.project-buttons{
    display: flex;
    align-items: center;
}

.trash-can-svg{
    fill: black;
    border: 2px solid red;
    background-color: var(--delete-red);
    border-radius: 0px 11px 11px 0px;
    height: 45px;
}

.trash-can-svg:hover{
    background-color: rgba(245, 150, 150, 0.7);
}